## CSV Data Merge and MongoDB Storage

This notebook demonstrates a complete workflow for merging multiple(2) CSV datasets, cleaning their column names, and storing the combined data in MongoDB.

We will cover:

- Loading CSV files.
- Cleaning column names to ensure consistency.
- Identifying shared columns between datasets.
- Merging datasets based on shared columns.
- Saving the final merged data to MongoDB for further use.

This workflow is useful for data consolidation, ETL pipelines, and preparing datasets for analysis or dashboards.

## Step 1: Load Both CSV Files

In [17]:
import pandas as pd
from pymongo import MongoClient

file1 = r"C:\Users\Osama Haider\Downloads\economy.csv"
file2 = r"C:\Users\Osama Haider\Downloads\nomad.csv"

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

print(df1.shape)
print(df2.shape)

(10, 9)
(10, 12)

## Step 2: Clean Column Names

In [5]:
def clean_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    return df

df1 = clean_columns(df1)
df2 = clean_columns(df2)

## Step 3: Check Shared Columns

In [6]:
shared_columns = list(set(df1.columns).intersection(set(df2.columns)))
print("Shared Columns:", shared_columns)

Shared Columns: ['city', 'country']

## Step 4: Merge Both Datasets

In [7]:
merged_df = pd.merge(df1, df2, on=shared_columns, how='outer')
print("Merged Data Preview:")
print(merged_df.head())

Merged Data Preview:
        city   country  cost_of_living_index  rent_index  \
0     Athens    Greece                    58          21
1  Barcelona     Spain                    68          43
2     Berlin   Germany                    54          55
3   Budapest   Hungary                    47          43
4     Lisbon  Portugal                    78          30

   cost_of_living_plus_rent_index  groceries_index  restaurant_price_index  \
0                              74               66                      79
1                              51               57                      68
2                              70               45                      47
3                              61               76                      54
4                              87               71                      38

   local_purchasing_power_index  year  wifi_speed_mbps  coworking_count  \
0                            85  2025               53               11
1                            51  2025              143               13
2                           109  2025               63               14
3                            57  2025               13                7
4                           102  2025               11                3

   coffee_price  taxi_price_km  1_bed_apt_price  meal_price  sunshine_hours  \
0          2.56           2.04              347          36            1897
1          3.55           2.04              327          33            2985
2          3.09           0.90              434          14            2142
3          3.43           2.13             1139          21            2741
4          3.30           2.47              340          39            2112

   attractions_count  instagram_photos_count  beer_price
0                 43                    2059        6.42
1                 19                    8574        5.12
2                 19                    7374        3.48
3                 46                    2678        4.28
4                 13                    2757        6.40

In [11]:
merged_df.head()

,city,country,cost_of_living_index,rent_index,cost_of_living_plus_rent_index,groceries_index,restaurant_price_index,local_purchasing_power_index,year,wifi_speed_mbps,coworking_count,coffee_price,taxi_price_km,1_bed_apt_price,meal_price,sunshine_hours,attractions_count,instagram_photos_count,beer_price
0,Athens,Greece,58,21,74,66,79,85,2025,53,11,2.56,2.04,347,36,1897,43,2059,6.42
1,Barcelona,Spain,68,43,51,57,68,51,2025,143,13,3.55,2.04,327,33,2985,19,8574,5.12
2,Berlin,Germany,54,55,70,45,47,109,2025,63,14,3.09,0.90,434,14,2142,19,7374,3.48
3,Budapest,Hungary,47,43,61,76,54,57,2025,13,7,3.43,2.13,1139,21,2741,46,2678,4.28
4,Lisbon,Portugal,78,30,87,71,38,102,2025,11,3,3.30,2.47,340,39,2112,13,2757,6.40

## Step 5: Save to MongoDB

In [12]:
client = MongoClient("mongodb://localhost:27017/")  # URI is correct for localhost
db = client["my_database"]  # replace with your desired database name
collection = db["merged_data"]  # replace with your desired collection name

print("Connected to MongoDB successfully!")

Connected to MongoDB successfully!

## Convert DataFrame to dictionary and insert

In [15]:
data_dict = merged_df.to_dict("records")
collection.insert_many(data_dict)
print("Data saved to MongoDB successfully!")

Data saved to MongoDB successfully!